*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: aliceblue;  
}

h1
{
    text-align: center;
    margin-top: 5px;
    color: #02234f;
}

.add
{
    padding: 10px;
    border: none;
    background-color: rgb(49, 49, 244);
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 230px;
}

.Display
{
    padding: 10px;
    border: none;
    background-color: rgb(49, 49, 244);
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

.issue
{
    padding: 10px;
    border: none;
    background-color: rgb(49, 49, 244);
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}
.return
{
    padding: 10px;
    border: none;
    background-color: rgb(49, 49, 244);
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}
.delet
{
    padding: 10px;
    border: none;
    background-color: rgb(49, 49, 244);
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}
.status
{
    padding: 10px;
    border: none;
    background-color: rgb(49, 49, 244);
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}
.total
{
    padding: 10px;
    border: none;
    background-color: rgb(49, 49, 244);
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

<<<<<<< HEAD
}
=======
}
>>>>>>> 62ace17060aa52cc324b753fa6c04597f09a5fd6
